* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(200, 18%, 26%);
  color: hsl(0, 0%, 100%);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 30px 500px 1fr;
  grid-template-rows: 60px 50px 30px 500px 50px;
}

.header {
  grid-column-start: 3;
  grid-column-end: 4;
  color: hsl(97, 81%, 48%);
}

.messageArea {
  grid-column-start: 3;
  grid-column-end: 4;
}

.coordinatesTop {
  grid-column-start: 3;
  grid-column-end: 4;
}

.coordinatesNumbers {
  width: 500px;
}

.coordinatesNumbers td {
  text-align: center;
}
.coordinatesLeft {
  grid-column-start: 2;
  grid-column-end: 3;
}

.coordinatesLetters {
  height: 500px;
}

.field-wrapper {
  height: 500px;
  width: 500px;
  background-image: url('./field.png');
  background-size: cover;
}

.field {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 500px;
  width: 500px;
  border-collapse: collapse;
  border: 1px solid hsl(97, 81%, 48%);
  text-align: center;
}

.field th,
.field td {
  border: 1px solid hsl(97, 81%, 48%);
}

.guessСoordinates {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 10px;
}

.hit {
  background-image: url('./ship.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.miss {
  background-image: url('./miss.png');
  background-repeat: no-repeat;
  background-position: center center;
}
